<div class="card">
    <div class="card-body service-font">
        <h5 class="card-title">Registration Status
            <img src="assets/images/Registration Status.png" alt="services"
                style="float: right;"></h5>
        <span class="d-block text-center pt-2">Not registered yet?</span>
        <span class="d-block text-center">Register Now! Select a role</span>
        <div class="row justify-content-center">
            <div class="form-group pt-5">
                <select class="form-control">
                    <option>IEC Holder</option>
                    <option>Custom Broker</option>
                    <option>Shipping Lines</option>
                </select>
            </div>
        </div>
    </div>
</div>