<div><span class="required">&#42;</span> indicates the mandatory fields </div>

<div class="row">
    <form class="col-md-12" [formGroup]="inBondFormStep1">

<mat-accordion formGroupName="general_details">
    <mat-expansion-panel (opened)="panelOpenState = true" *ngFor="let item of [1]; first as isFirst"
        [expanded]="isFirst" class="matnotexpand">
        <mat-expansion-panel-header class="disable_ripple">
            <mat-panel-title>
                General Details
            </mat-panel-title>

        </mat-expansion-panel-header>
               
                <div class="form-row" >
                    
                    <div class="form-group col-md-2 offset-md-1">
                        <label>BE Type</label> 
                        <b>In Bond (Warehouse) BE</b>
                      
                    </div>
                    <div class="form-group col-md-2" [ngClass]="displayFieldCss('general_details.message_type')">
                        <label>Message Type</label><span class="required"> *</span>
                        <input type="text" class="form-control" formControlName="message_type">
                        <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].message_type" errorMsg="Message Type"></validation-messages>
                    </div>
                   
                    <div class="form-group  col-md-2 offset-md-2" [ngClass]="displayFieldCss('general_details.custom_house_code')">
                        <label class="control-label requiredFeild">Custom House Code</label>
                        <input type="text" formControlName="custom_house_code" class="form-control">
                        <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].custom_house_code" errorMsg="Custom House Code"></validation-messages>
                    </div>
                    <div class="form-group col-md-2" [ngClass]="displayFieldCss('general_details.branch_sr_no')">
                        <label>Branch Sr.No.</label><span class="required"> *</span>
                        <input class="form-control" formControlName="branch_sr_no">
                        <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].branch_sr_no" errorMsg="Branch Sr.No."></validation-messages>
                    </div>
                
                </div>
               <div class="form-row">
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-2" [ngClass]="displayFieldCss('general_details.user_job_no')">
                        <label>User Job No.</label><span class="required">*</span>
                        <input class="form-control" formControlName="user_job_no" placeholder="User Job No.">
                        <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].user_job_no" errorMsg="User Job No."></validation-messages>
                    </div>

                    <div class="form-group col-md-2" [ngClass]="displayFieldCss('general_details.user_job_date')">
                        <label>User Job Date</label><span class="required">*</span>
                        <input type="date" class="form-control" formControlName="user_job_date" required
                            placeholder="User Job Date">
                            <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].user_job_date" errorMsg="User Job Date"></validation-messages>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="form-group col-md-2" [ngClass]="displayFieldCss('general_details.be_number')">
                        <label>BE Number</label>
                        <input class="form-control" formControlName="be_number">
                        <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].be_number" errorMsg="BE Number"></validation-messages>                 
                    </div>
                    <div class="form-group col-md-2" [ngClass]="displayFieldCss('general_details.be_date')">
                        <label>BE Date</label>
                        <input type="date" class="form-control" formControlName="be_date">
                        <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].be_date" errorMsg="BE Date"></validation-messages>                                
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-4" [ngClass]="displayFieldCss('general_details.iec_code')">
                        <label>IEC Code</label><span class="required">*</span>
                        <input class="form-control" formControlName="iec_code">
                        <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].iec_code" errorMsg="IEC Code"></validation-messages>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="form-group  col-md-4 col-sd-1" [ngClass]="displayFieldCss('general_details.name_importer')">
                        <label>Name of the importer</label>
                        <input type="text" class="form-control" formControlName="name_importer">
                        <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].name_importer" errorMsg="Name of the importer"></validation-messages>
   
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-4" [ngClass]="displayFieldCss('general_details.address1_importer')">
                        <label>Address 1</label>
                        <input class="form-control" formControlName="address1_importer">
                        <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].address1_importer" errorMsg="Address 1"></validation-messages>
                    </div>
                    <div class="col-md-2"></div>

                    <div class="form-group  col-md-4" [ngClass]="displayFieldCss('general_details.address2_importer')">
                        <label>Address 2</label>
                        <input type="text" class="form-control" formControlName="address2_importer">
                        <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].address2_importer" errorMsg="Address 2"></validation-messages>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-4" [ngClass]="displayFieldCss('general_details.city_importer')">
                        <label>City</label>
                        <input class="form-control" formControlName="city_importer">
                        <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].city_importer" errorMsg="City"></validation-messages>
                    
                    </div>
                    <div class="col-md-2"></div>

                    <div class="form-group  col-md-2" [ngClass]="displayFieldCss('general_details.state_importer')">
                        <label>State</label>
                        <input class="form-control" formControlName="state_importer">
                        <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].state_importer" errorMsg="State"></validation-messages>
                    
                    </div>

                    <div class="form-group  col-md-2" [ngClass]="displayFieldCss('general_details.pin')">
                        <label>Pin</label>
                        <input type="text" class="form-control" formControlName="pin">
                        <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].pin" errorMsg="Pin"></validation-messages>
                    
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-4" [ngClass]="displayFieldCss('general_details.mode_of_transport')">
                        <div class="form-group">
                        <span>Mode of Transport </span> <span class="required"> *</span> 
                            <label class="col-md-3">
                                <input type="radio" id="mode_of_transport" formControlName="mode_of_transport"
                                    type="radio" value="Land">Land
                            </label>
                            <label class="col-md-3">
                                <input type="radio" id="mode_of_transport" formControlName="mode_of_transport"
                                    type="radio" value="Sea">Sea
                            </label>
                            <label class="col-md-3">
                                <input type="radio" id="mode_of_transport" formControlName="mode_of_transport"
                                    type="radio" value="Air">Air
                            </label>
                            <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].mode_of_transport" errorMsg="Mode of Transport"></validation-messages>
                    
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="form-group  col-md-4" [ngClass]="displayFieldCss('general_details.importer_type')">
                        <span>Importer Type</span> <span class="required"> *</span> 
                        <label class=" col-md-3">
                            <input type="radio" id="importer_type" formControlName="importer_type" value="G">G
                        </label>
                        <label class=" col-md-3">
                            <input type="radio" id="importer_type" formControlName="importer_type" value="U">U
                        </label>
                        <label class=" col-md-3">
                            <input type="radio" id="importer_type" formControlName="importer_type" value="O">O
                        </label>
                        <label class=" col-md-3">
                            <input type="radio" id="importer_type" formControlName="importer_type" value="P">P
                        </label>
                        <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].importer_type" errorMsg="Importer Type"></validation-messages>
                    
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-4" [ngClass]="displayFieldCss('general_details.kachcha_be')">
                        <div class="form-group"> <span>Kachcha BE </span> <span class="required"> *</span> 
                            <label class="col-md-3">
                                <input type="radio" formControlName="kachcha_be" value="Yes">Yes
                            </label>
                            <label class=" col-md-3">
                                <input type="radio" formControlName="kachcha_be" value="No">No
                            </label>
                            <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].kachcha_be" errorMsg="Kachcha BE"></validation-messages>
                    
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="form-group  col-md-4" [ngClass]="displayFieldCss('general_details.high_sea_sale_flag')">
                        <div class="form-group"><span>High Sea Sale Flag</span> 
                            <label class="col-md-3">
                                <input type="radio" formControlName="high_sea_sale_flag" (change)="onHighSeaChange($event.target.value)" value="Yes">Yes
                            </label>
                            <label class="col-md-3" style="padding-left:0px ">
                                <input type="radio" formControlName="high_sea_sale_flag" (change)="onHighSeaChange($event.target.value)"  value="No">No
                            </label>
                            <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].high_sea_sale_flag" errorMsg="High Sea Sale Flag"></validation-messages>
                        </div>
                    </div>
                </div>
                <div *ngIf="inBondFormStep1.get('general_details')['controls'].high_sea_sale_flag.value==='Yes'" class="dropdown-color">
                    <div class="form-row">
                        <div class="col-md-1"></div>
                        <div class="form-group col-md-4" [ngClass]="displayFieldCss('general_details.permission_code')">
                            <label>Permission Code</label><span class="required"> *</span>
                            <input class="form-control" formControlName="permission_code">
                            <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].permission_code" errorMsg="Permission Code"></validation-messages>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="form-group  col-md-4" [ngClass]="displayFieldCss('general_details.reason_for_request')">
                            <label>Reason for Request</label><span class="required"> *</span>
                            <input class="form-control" formControlName="reason_for_request">
                            <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].reason_for_request" errorMsg="Reason for Request"></validation-messages>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-1"></div>
                        <div class="form-group col-md-4" [ngClass]="displayFieldCss('general_details.invoice_serial_number')">
                            <label>Invoice Serial Number</label><span class="required"> *</span>
                            <input class="form-control" formControlName="invoice_serial_number">
                            <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].invoice_serial_number" errorMsg="Invoice Serial Number"></validation-messages>
                     
                        </div>
                        <div class="col-md-2"></div>
                        <div class="form-group  col-md-4" [ngClass]="displayFieldCss('general_details.branch_sr_no_sea')">
                            <label>Branch Serial Number</label><span class="required"> *</span>
                            <input class="form-control" formControlName="branch_sr_no_sea">
                            <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].branch_sr_no_sea" errorMsg="Branch Serial Number"></validation-messages>
                     
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-1"></div>
                        <div class="form-group col-md-4" [ngClass]="displayFieldCss('general_details.name_importer')">
                            <label>Importer Name</label>
                            <input class="form-control" formControlName="name_importer">
                            <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].name_importer" errorMsg="Importer Name"></validation-messages>
                     
                        </div>
                        <div class="col-md-2"></div>
                        <div class="form-group col-md-4" [ngClass]="displayFieldCss('general_details.preceding_level')">
                            <label>Preceding Level</label><span class="required">*</span>
                            <input class="form-control" formControlName="preceding_level">
                            <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].preceding_level" errorMsg="Preceding Level"></validation-messages>
                      </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-1"></div>
                        <div class="form-group col-md-4" [ngClass]="displayFieldCss('general_details.address1_importer')">
                            <label>Importer Address 1</label>
                            <input class="form-control" formControlName="address1_importer">
                            <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].address1_importer" errorMsg="Importer Address 1"></validation-messages>
                     
                        </div>
                        <div class="col-md-2"></div>
                        <div class="form-group  col-md-4" [ngClass]="displayFieldCss('general_details.address2_importer')">
                            <label>Importer Address 2</label><span class="required">*</span>
                            <input class="form-control" formControlName="address2_importer">
                            <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].address2_importer" errorMsg="Importer Address 2"></validation-messages>
                     
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-1"></div>
                        <div class="form-group col-md-4" [ngClass]="displayFieldCss('general_details.city_importer')">
                            <label>Importer City</label>
                            <input class="form-control" formControlName="city_importer">
                            <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].city_importer" errorMsg="Importer City"></validation-messages>
                     
                        </div>
                        <div class="col-md-2"></div>

                        <div class="form-group  col-md-4" [ngClass]="displayFieldCss('general_details.pin_importer')">
                            <label>Importer PIN</label>
                            <input class="form-control" formControlName="pin_importer">
                            <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].pin_importer" errorMsg="Importer PIN"></validation-messages>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-4" [ngClass]="displayFieldCss('general_details.port_of_origin')">
                        <label>Port of Origin</label><span class="required"> *</span>
                        <input class="form-control" formControlName="port_of_origin">
                        <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].port_of_origin" errorMsg="Port of Origin"></validation-messages>
                       
                    </div>
                    <div class="col-md-2"></div>
                    <div class="form-group col-md-4" [ngClass]="displayFieldCss('general_details.cha_code')">
                        <label>CHA Code</label>
                        <input type="text" class="form-control" formControlName="cha_code">
                        <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].cha_code" errorMsg="CHA Code"></validation-messages>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-4" [ngClass]="displayFieldCss('general_details.country_of_origin')">
                        <label>Country of Origin</label><span class="required"> *</span>
                        <input class="form-control" formControlName="country_of_origin">
                        <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].country_of_origin" errorMsg="Country of Origin"></validation-messages>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="form-group  col-md-4" [ngClass]="displayFieldCss('general_details.country_of_consignment')">
                        <label>Country of Consignment</label> <span class="required"> *</span>
                        <input type="text" class="form-control" formControlName="country_of_consignment">
                        <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].country_of_consignment" errorMsg="Country of Consignment"></validation-messages>
                    </div>

                </div>
                <div class="form-row">
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-4" [ngClass]="displayFieldCss('general_details.port_of_shipment')">
                        <label>Port of Shipment</label><span class="required"> *</span>
                        <input class="form-control" formControlName="port_of_shipment">
                        <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].port_of_shipment" errorMsg="Port of Shipment"></validation-messages>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="form-group col-md-4" [ngClass]="displayFieldCss('general_details.green_channel_requested')">
                        <div class="form-group"><span>Green Channel Requested </span> <span class="required"> *</span>
                            <label class="col-md-3">
                                <input type="radio" formControlName="green_channel_requested" value="Yes">Yes
                            </label>
                            <label class="radio-inline col-md-3">
                                <input type="radio" formControlName="green_channel_requested" value="No">No
                            </label>
                            <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].green_channel_requested" errorMsg="Green Channel Requested"></validation-messages>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-4" [ngClass]="displayFieldCss('general_details.section')">
                        <div class="form-group"><span>Section 48</span><span class="required"> *</span>
                            
                            <label class="col-md-3">
                                <input type="radio" formControlName="section" (change)="section_48Value($event.target.value)" value="Yes">Yes
                            </label>
                            <label class="col-md-3">
                                <input type="radio" formControlName="section" value="No" (change)="section_48Value($event.target.value)">No
                            </label>
                            <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].section" errorMsg="Section 48"></validation-messages>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="form-group col-md-4" [ngClass]="displayFieldCss('general_details.prior_be')">
                        <div class="form-group"> <span>Whether Prior BE</span><span class="required"> *</span>
                            
                            <label class="col-md-3">
                                <input type="radio" formControlName="prior_be" value="Yes">Yes
                            </label>
                            <label class=" col-md-3">
                                <input type="radio" formControlName="prior_be" value="No">No
                            </label>
                            <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].prior_be" errorMsg="Whether Prior BE"></validation-messages>
                        </div>
                    </div>
                </div>
                <div *ngIf="inBondFormStep1.get('general_details')['controls'].section.value==='Yes'" class="dropdown-color">
                    <div class="form-row">
                        <div class="col-md-1"></div>
                        <div class="form-group col-md-4" [ngClass]="displayFieldCss('general_details.section_48_permission_code')">
                            <label>Permission Code</label><span class="required">*</span>
                            <input type="text" class="form-control" formControlName="section_48_permission_code">
                            <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].section_48_permission_code" errorMsg="Section 48 Permission Code"></validation-messages>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="form-group col-md-4" [ngClass]="displayFieldCss('general_details.section_48_reason_for_request')">
                            <label>Reason for Request</label><span class="required">*</span>
                            <input type="text" class="form-control" formControlName="section_48_reason_for_request">
                            <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].section_48_reason_for_request" errorMsg="Section 48 Reason for Request"></validation-messages>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-4" [ngClass]="displayFieldCss('general_details.authorized_dealer_code')">
                        <label>Authorized Dealer Code</label><span class="required"> *</span>
                        <input class="form-control" formControlName="authorized_dealer_code">
                        <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].authorized_dealer_code" errorMsg="Authorized Dealer Code"></validation-messages>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="form-group col-md-4" [ngClass]="displayFieldCss('general_details.first_check_requested')">
                        <label>First Check Requested</label><span class="required"> *</span>
                        <label class=" col-md-3">
                            <input type="radio" formControlName="first_check_requested" value="Yes">Yes
                        </label>
                        <label class="col-md-3">
                            <input type="radio" formControlName="first_check_requested" value="No">No
                        </label>
                        <validation-messages [control]="inBondFormStep1.get('general_details')['controls'].first_check_requested" errorMsg="First Check Requested"></validation-messages>
                    </div>
                </div> 
          
    </mat-expansion-panel>
</mat-accordion>

<mat-accordion formGroupName="warehouse_details">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="matnotexpand">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Warehouse Details
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
            
                <div class="form-row">
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-4" [ngClass]="displayFieldCss('warehouse_details.warehouse_code')">
                        <label>Warehouse Code</label>
                        <input type="text" class="form-control" formControlName="warehouse_code">
                        <validation-messages [control]="inBondFormStep1.get('warehouse_details')['controls'].warehouse_code" errorMsg="Warehouse Code"></validation-messages> 
                    </div>
                    <div class="col-md-2"></div>
                    <div class="form-group  col-md-2" [ngClass]="displayFieldCss('warehouse_details.warehouse_custom_site_id')">
                        <label>Warehouse Customs Site ID</label>
                        <input class="form-control" formControlName="warehouse_custom_site_id">
                        <validation-messages [control]="inBondFormStep1.get('warehouse_details')['controls'].warehouse_custom_site_id" errorMsg="Warehouse Customs Site ID"></validation-messages>

                    </div>
                    <div class="form-group  col-md-2" [ngClass]="displayFieldCss('warehouse_details.warehouse_be_no')">
                        <label>Warehouse BE No</label>
                        <input type="text" class="form-control" formControlName="warehouse_be_no">
                        <validation-messages [control]="inBondFormStep1.get('warehouse_details')['controls'].warehouse_be_no" errorMsg="Warehouse BE No"></validation-messages>

                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-4" [ngClass]="displayFieldCss('warehouse_details.warehouse_code')">
                        <label>Warehouse BE Date</label>
                        <input type="date" class="form-control" formControlName="warehouse_be_date">
                    </div>
                    <div class="col-md-2"></div>
                    <div class="form-group  col-md-4" [ngClass]="displayFieldCss('warehouse_details.no_packages_released')">
                        <label>No of packages released</label>
                        <input class="form-control" formControlName="no_packages_released">
                        <validation-messages [control]="inBondFormStep1.get('warehouse_details')['controls'].no_packages_released" errorMsg="No of packages released"></validation-messages>

                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-4" [ngClass]="displayFieldCss('warehouse_details.package_code')">
                        <label>Package Code</label>
                        <input type="text" class="form-control" formControlName="package_code">
                        <validation-messages [control]="inBondFormStep1.get('warehouse_details')['controls'].package_code" errorMsg="Package Code"></validation-messages>

                    </div>
                    <div class="col-md-2"></div>
                    <div class="form-group  col-md-2" [ngClass]="displayFieldCss('warehouse_details.gross_weight')">
                        <label>Gross Weight</label>
                        <input formControlName="gross_weight" class="form-control">
                        <validation-messages [control]="inBondFormStep1.get('warehouse_details')['controls'].gross_weight" errorMsg="Gross Weight"></validation-messages>

                    </div>
                    <div class="form-group col-md-2" [ngClass]="displayFieldCss('warehouse_details.unit_of_measurement')">
                        <label>Unit of Measurement</label>
                        <input type="text" class="form-control" formControlName="unit_of_measurement">
                        <validation-messages [control]="inBondFormStep1.get('warehouse_details')['controls'].unit_of_measurement" errorMsg="Unit of Measurement"></validation-messages>

                    </div>

                </div>
                <div class="form-row">
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-4" [ngClass]="displayFieldCss('warehouse_details.additional_charges')">
                        <label>Additional Charges if any Purchase on high seas</label>
                        <input type="text" class="form-control" formControlName="additional_charges">
                        <validation-messages [control]="inBondFormStep1.get('warehouse_details')['controls'].additional_charges" errorMsg="Additional Charges if any Purchase on high seas"></validation-messages>

                    </div>
                    <div class="col-md-2"></div>
                    <div class="form-group  col-md-4" [ngClass]="displayFieldCss('warehouse_details.misc_load')">
                        <label>Miscellaneous load</label>
                        <input type="text" class="form-control" formControlName="misc_load">
                        <validation-messages [control]="inBondFormStep1.get('warehouse_details')['controls'].misc_load" errorMsg="Miscellaneous load"></validation-messages>

                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-4 " [ngClass]="displayFieldCss('warehouse_details.ucr')">
                        <label>Unique Consignment Reference Number (UCR)</label>
                        <input class="form-control" formControlName="ucr">
                        <validation-messages [control]="inBondFormStep1.get('warehouse_details')['controls'].ucr" errorMsg="Unique Consignment Reference Number (UCR)"></validation-messages>

                    </div>
                    <div class="col-md-2"></div>
                    <div class="form-group col-md-4" [ngClass]="displayFieldCss('warehouse_details.ucr_type')">
                        <label>UCR Type</label>
                        <input type="text" class="form-control" formControlName="ucr_type">
                        <validation-messages [control]="inBondFormStep1.get('warehouse_details')['controls'].ucr_type" errorMsg="UCR Type"></validation-messages>

                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-4" [ngClass]="displayFieldCss('warehouse_details.payment_method_code')">
                        <label>Payment Method Code</label><span class="required"> *</span>
                        <input class="form-control" formControlName="payment_method_code">
                        <validation-messages [control]="inBondFormStep1.get('warehouse_details')['controls'].payment_method_code" errorMsg="Payment Method Code"></validation-messages>

                    </div>
                </div>
          
        </div>
    </mat-expansion-panel>
</mat-accordion>

<div class="btncontainer">
    <button id="back_draft" mat-raised-button matStepperPrevious>Back</button>
    <div class="col-md-4 offset-md-4"></div>
    <!-- <button class="back_draft" mat-raised-button>Save as Draft</button>
   -->
    <button  mat-flat-button (click)="onSubmit()">Save & Continue</button>
    <button id="save_continues"  matStepperNext style="display: none;"></button>
</div>
</form>
</div>