<h2 mat-dialog-title>Container Details</h2>
<mat-dialog-content>
    <div><span class="required"> *</span> indicates the mandatory fields</div>
    <br>
    <button mat-raised-button (click)="addTab1()" id="add-option">
        Add new EGM Container
        <mat-icon>add</mat-icon>
    </button>
    <mat-tab-group>
        <mat-tab *ngFor="let tab of tabs1; let i = index">
            <ng-template mat-tab-label>
                <span>EGM Container Details {{i + 1}}</span>
                <mat-icon *ngIf="tabs1.length != 1" (click)="removeTab1(i)">cancel</mat-icon>
            </ng-template>
            <br>
            <app-egm-container-dialog-content></app-egm-container-dialog-content>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Save</button>
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>