<div>
    <form class="col-md-12" [formGroup]="homeConsumptionFormStep7">
        <div><span class="required">&#42;</span> indicates the mandatory fields </div>
        <h6 class="font-h6 text-center">DEPB</h6>
        <hr>
        <div class="form-row">
            <div class="col-md-1"></div>
            <div class="form-group col-md-4">
                <label>Invoice Serial Number</label><span class="required">*</span>
                <input type="text" class="form-control"
                    formControlName="invoice_serial_number">
                <mat-error
                    *ngIf='homeConsumptionFormStep7.controls.invoice_serial_number.errors?.required && homeConsumptionFormStep7.controls.invoice_serial_number.touched'
                    class="text-danger">This field is required <br></mat-error>
                <mat-error
                    *ngIf='homeConsumptionFormStep7.controls.invoice_serial_number.errors?.maxlength '
                    class="text-danger">The maximum field length is 5, please update the field  <br></mat-error><br>
                <mat-error
                    *ngIf='homeConsumptionFormStep7.controls.invoice_serial_number.errors?.pattern'
                    class="text-danger">
                    Only numbers are allowed in this field, please update</mat-error>                                           
            </div>
            <div class="col-md-2"></div>
            <div class="form-group col-md-4">
                <label> Item Sr. Number in Invoice</label><span
                    class="required">*</span>
                <input type="text" class="form-control"
                    formControlName="item_serial_number_invoice">
                <mat-error
                    *ngIf='homeConsumptionFormStep7.controls.item_serial_number_invoice.errors?.required && homeConsumptionFormStep7.controls.item_serial_number_invoice.touched'
                    class="text-danger">This field is required  <br></mat-error>
                <mat-error
                    *ngIf='homeConsumptionFormStep7.controls.item_serial_number_invoice.errors?.maxlength '
                    class="text-danger">The maximum field length is 4, please update the field  <br></mat-error>
                <mat-error
                    *ngIf='homeConsumptionFormStep7.controls.item_serial_number_invoice.errors?.pattern'
                    class="text-danger">Only numbers are allowed in this field, please update</mat-error>                                                                                   
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-1"></div>
            <div class="form-group col-md-4">
                <span>Whether Exemption Required? </span> <br><br>
                <label class="col-md-3">
                    <input type="radio" value="Yes" formControlName="exemption_required">Yes
                </label>

                <label class="col-md-3">
                    <input type="radio" value="No" formControlName="exemption_required">No
                </label>
            </div>
            <div class="col-md-2"></div>
            <div class="form-group col-md-4">
                <label>BCD Notification</label><span class="required"> *</span>
                <input type="text" class="form-control"
                    formControlName="bcd_notification">
                <mat-error
                    *ngIf='homeConsumptionFormStep7.controls.bcd_notification.errors?.required && homeConsumptionFormStep7.controls.bcd_notification.touched'
                    class="text-danger">This field is required</mat-error>
                <mat-error
                    *ngIf='homeConsumptionFormStep7.controls.bcd_notification.errors?.maxlength'  class="text-danger">
                    The maximum field length is <10>, please update the field 
                </mat-error>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-1"></div>
            <div class="form-group col-md-4">
                <label>BCD Notification Sr. No.</label><span class="required"> *</span>
                <input type="text" class="form-control"
                    formControlName="bcd_notification_sr_no">
                <mat-error
                    *ngIf='homeConsumptionFormStep7.controls.bcd_notification_sr_no.errors?.required && homeConsumptionFormStep7.controls.bcd_notification_sr_no.touched'
                    class="text-danger">This field is required</mat-error>
                <mat-error
                    *ngIf='homeConsumptionFormStep7.controls.bcd_notification_sr_no.errors?.maxlength'  class="text-danger">
                    The maximum field length is <10>, please update the field 
                </mat-error>
            </div>
        </div>
    </form>
</div>
<div class="btncontainer">
    <button id="back_draft" mat-raised-button matStepperPrevious>Back</button>
    <div class="col-md-4 offset-md-4"></div>
    <button id="back_draft" mat-raised-button>Save as Draft</button>
    <button id="savecon" mat-flat-button matStepperNext>Save & Continue</button>
</div>