<div class="">
    <div *ngIf="getOtp">
        <app-generate-otp (proceedNext)="verifyOtpFun($event)" [authDetails]="authDetails"></app-generate-otp>
    </div>
    <div *ngIf="verifyOtp">
        <app-verify-otp [authDetails]="authDetails" (proceedBack)="hideOtp($event)" (changePass)="changePass($event)"></app-verify-otp>
    </div>
    <div  *ngIf="createPassword">
        <app-create-password [userDetails]="icegateId" (hidePass)="hidePassForm($event)"></app-create-password>
    </div>
</div>