<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" *ngFor="let item of [1]; first as isFirst"
        [expanded]="isFirst" class="matnotexpand">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Invoice Details {{index}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        
        <div class="row">
            <form class="col-md-12 fonts" [formGroup]="exBondFormStep2">
                <div class="form-row">
                    <!-- <div class="col-md-1"></div> -->
                    <div class=" form-group col-md-4 offset-md-1">
                        <label>Invoice Serial Number</label>
                        <input type="text" class="form-control" formControlName="invoice_serial_number">
                        <validation-messages [control]="exBondFormStep2.controls.invoice_serial_number" ></validation-messages>                        
                    </div>
                    <div class="col-md-2"></div>
                    <div class="form-group  col-md-4">
                        <label>Invoice Date</label>
                        <div>
                        
                        <mat-form-field>
                            <mat-label>Choose a date</mat-label> 
                            <!-- #docregion toggle -->
                            <input matInput [matDatepicker]="invoice_date" formControlName="invoice_date">
                            <mat-datepicker-toggle matSuffix [for]="invoice_date"></mat-datepicker-toggle>
                            <mat-datepicker #invoice_date></mat-datepicker>
                            <!-- #enddocregion toggle -->
                        </mat-form-field> </div>
                    </div>
                </div>
            </form>
        </div>

    </mat-expansion-panel>

    <mat-expansion-panel class="matnotexpand">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Invoice Rates and Commercial Details
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
            <form class="col-md-12 fonts" [formGroup]="exBondFormStep2">

                <div class="form-row">
                    <!-- <div class="col-md-1"></div> -->


                    <div class="form-group col-md-4 offset-md-1">
                        <label> Actual Invocie Number</label> <span class="required"></span>
                        <input type="text" class="form-control" formControlName="actual_invoice_number">
                        <validation-messages [control]="exBondFormStep2.controls.actual_invoice_number" ></validation-messages>                        
                       
                    </div>
                </div>
            </form>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="matnotexpand">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Third Party Details
            </mat-panel-title>
        </mat-expansion-panel-header>
        <br>
        <div class="row">
            <form class="col-md-12 fonts" [formGroup]="exBondFormStep2">
                <div class="form-row">
                    <!-- <div class="col-md-1"></div> -->
                    <div class="form-group  col-md-4 offset-md-1">
                        <label>Third Party Name Address 1</label>
                        <input type="text" class="form-control" formControlName="address1_third_party">
                        <validation-messages [control]="exBondFormStep2.controls.address1_third_party" ></validation-messages>                        
                    </div>
                </div>
                <div class="form-row">
                    <!-- <div class="col-md-1"></div> -->
                    <div class="form-group col-md-4 offset-md-1">
                        <label>Third Party Name Address 2</label>
                        <input type="text" class="form-control" formControlName="address2_third_party">
                        <validation-messages [control]="exBondFormStep2.controls.address2_third_party" ></validation-messages>                           
                    </div>
                    <!-- <div class="col-md-2"></div> -->
                    <div class="form-group col-md-4 offset-md-2">
                        <label>Third Party Name City</label>
                        <input type="text" class="form-control" formControlName="city_third_party">
                        <validation-messages [control]="exBondFormStep2.controls.city_third_party" ></validation-messages>                           
                    </div>
                </div>
                <div class="form-row">
                    <!-- <div class="col-md-1"></div> -->
                    <div class="form-group col-md-4 offset-md-1">
                        <label>Third Party Country Sub. Division</label>
                        <input type="text" class="form-control" formControlName="country_sub_division_third_party">  
                        <validation-messages [control]="exBondFormStep2.controls.country_sub_division_third_party" ></validation-messages>                            
                    </div>
                    <!-- <div class="col-md-2"></div> -->

                    <div class="form-group  col-md-2 offset-md-2">
                        <label>Third Party Country Code </label>
                        <input type="text" class="form-control" formControlName="country_code_third_party">
                        <validation-messages [control]="exBondFormStep2.controls.country_code_third_party" ></validation-messages>                            
                       
                    </div>

                    <div class="form-group  col-md-2">
                        <label>Third Party Pin</label>
                        <input type="text" class="form-control" formControlName="pin_third_party">
                        <validation-messages [control]="exBondFormStep2.controls.pin_third_party" ></validation-messages>                            
                        
                    </div>
                </div>
                <div class="form-row">
                    <!-- <div class="col-md-1"></div> -->
                    <div class="form-group col-md-4 offset-md-1">
                        <label>Authorized Economic Operator Code</label>
                        <input type="text" class="form-control">
                        <validation-messages [control]="exBondFormStep2.controls.authorized_economic_operator" ></validation-messages>                            

                    </div>
                    <!-- <div class="col-md-2"></div> -->
                    <div class="form-group  col-md-4 offset-md-2">
                        <label>Authorized Economic Operator Country </label>
                        <select class="form-control">
                            <option value=""> </option>

                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <!-- <div class="col-md-1"></div> -->
                    <div class="form-group col-md-4 offset-md-1">
                        <label>Authorized Economic Operator Role</label>
                        <input type="text" class="form-control" formControlName="authorized_economic_operator_role">
                        <validation-messages [control]="exBondFormStep2.controls.authorized_economic_operator_role" ></validation-messages>                            
                        
    
                    </div>
                    <!-- <div class="col-md-2"></div> -->
                    <div class="form-group  col-md-4 offset-md-2">
                        <label>Whether Buyer or Seller related</label>
                        <div>
                        <mat-radio-group aria-label="Select an option" formControlName="buyer_or_seller_related">
                            <mat-radio-button value="Yes">Yes</mat-radio-button>&nbsp;&nbsp;
                            <mat-radio-button value="No">No</mat-radio-button>     
                        </mat-radio-group> </div>
                    </div>
                </div>
            </form>
        </div>
    </mat-expansion-panel>
</mat-accordion>

