<div class="card">
    <div class="card-body service-font">
        <h5 class="card-title">Key Service
            <img src="assets/images/New Services.png" alt="services" style="float: right;"></h5>
        <h6 class="card-subtitle pb-1 pt-4 text-primary" style="text-decoration: underline;">
            Electronic Filing</h6>
        <p class="card-text text-muted">New ICEGATE portal comes with a
            simplified registration process and a facility to submit documents electronically
            specific to you.
        </p>
        <h6 class="card-subtitle pb-1 pt-4 text-primary" style="text-decoration: underline;">
            Job Filing Status</h6>
        <p class="card-text text-muted">Once registered, the portal will provide you the status of
            jobs you
            have created on ICEGATE on your dashboard screen.
        </p>
        <h6 class="card-subtitle pb-1 pt-4 text-primary" style="text-decoration: underline;">
            User Specific Information</h6>
        <p class="card-text text-muted">New Icegate Portal comes with a customizable dashboard and
            details
            pertaining to ypur role such as License details, griebance.
        </p>
    </div>
</div>