<div class="card pb-3">
    <div class="card-body">
        <div class="row justify-content-center pt-4">
            <img src="assets/images/user.png" alt="user-image">
        </div>
        <p class="text-center pt-5">Profile completion status</p>
        <h4 class="card-title text-center">15%</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-success active" role="progressbar" aria-valuenow="15"
                aria-valuemin="0" aria-valuemax="100" style="width:15%">
            </div>
        </div>
        <h6 class="text-center pt-4">We are missing few details</h6>
        <div style="padding-left: 50px;">
            <div class="row pt-2">
                <span><img class="image-fluid" src="assets/images/id-card.png" alt="">&nbsp;&nbsp;Pan Card
                    Details</span>
            </div>
            <div class="row pt-2">
                <span><img class="image-fluid" src="assets/images/id-card.png" alt="">&nbsp;&nbsp;Aadhar
                    Card
                    Details</span>
            </div>
            <div class="row pt-2">
                <span><img class="image-fluid" src="assets/images/bank.png" alt="">&nbsp;&nbsp;Bank Account
                    Details</span>
            </div>
        </div>
        <div class="row justify-content-center pt-4">
            <a href="">+8 more</a>
        </div>
        <div class="row justify-content-center pt-4">
            <button class="btn btn-profile btn-text"> Complete Your Profile</button>
        </div>
    </div>
</div>