<div><span class="required"> *</span> indicates the mandatory fields</div>
<br>
<div class="row">
    <form class="col-md-12" [formGroup]="flightDetails">
        <h2 class="text-center">Flight Details</h2>
        <hr>
        <div class="col-md-12"><br></div>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class="form-group col-md-2 offset-md-1">
                <label>Message Type</label><span class="required"> *</span>
                <input type="text" class="form-control" formControlName="message_type" placeholder="F" readonly>
            </div>
            <div class="form-group  col-md-2">
                <label>Custom House Code</label>
                <input type="text" formControlName="custom_house_code" class="form-control">
                <validation-messages [control]="flightDetails.controls.custom_house_code"></validation-messages>
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group  col-md-2 offset-md-2">
                <label>Flight No.</label>
                <input type="text" formControlName="flight_no" class="form-control">
                <validation-messages [control]="flightDetails.controls.flight_no"></validation-messages>
            </div>
            <div class="form-group  col-md-2">
                <label>Flight Origin Date</label>
                <mat-form-field>
                    <mat-label>Choose a date</mat-label> 
                    <!-- #docregion toggle -->
                    <input matInput [matDatepicker]="flight_origin_date" formControlName="flight_origin_date">
                    <mat-datepicker-toggle matSuffix [for]="flight_origin_date"></mat-datepicker-toggle>
                    <mat-datepicker #flight_origin_date></mat-datepicker>
                    <!-- #enddocregion toggle -->
                </mat-form-field>
            </div>
        </div>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class="form-group  col-md-4 offset-md-1">
                <label>Expected Date and Time Arrival</label>  <span class="required"> *</span> 
                <div>
                <mat-form-field>
                    <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose date and time"
                        formControlName="expected_date_time_arrival" [min]="minDate" [max]="maxDate" [disabled]="disabled">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                        [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
                        [color]="color" [enableMeridian]="enableMeridian">
                    </ngx-mat-datetime-picker>
                </mat-form-field>
                </div>
                <validation-messages [control]="flightDetails.controls.expected_date_time_arrival"></validation-messages>
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group  col-md-4 offset-md-2">
                <label>Port of Origin</label> <span class="required"> *</span>
                <select formControlName="port_origin" class="form-control">
                    <option></option>
                </select>
                <validation-messages [control]="flightDetails.controls.port_origin"></validation-messages>
            </div>
        </div>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class="form-group col-md-4 offset-md-1">
                <label>Port of Destination</label>  <span class="required"> *</span>
                <select formControlName="port_destination" class="form-control">
                    <option></option>
                </select>
                <validation-messages [control]="flightDetails.controls.port_destination"></validation-messages>
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2">
                <label>Registration No.</label>
                <input type="text" formControlName="registration_no" class="form-control" >
                <validation-messages [control]="flightDetails.controls.registration_no"></validation-messages>
            </div>
        </div>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class="form-group col-md-4 offset-md-1">
                <label>Nil Cargo Flight</label>  <span class="required"> *</span> 
                <div>
                    <mat-radio-group aria-label="Select an option" formControlName="nil_cargo_flight">
                        <mat-radio-button value="Yes" >Yes</mat-radio-button>&nbsp;&nbsp;
                        <mat-radio-button value="No">No</mat-radio-button>                            
                    </mat-radio-group>
                <!-- <label class=" col-md-3">
                    <input type="radio" formControlName="nil_cargo_flight"  class="radio-inline" value="Y" >Yes
                </label>
                <label class=" col-md-3">
                <input type="radio" formControlName="nil_cargo_flight"  class="radio-inline" value="N">No
                </label> -->
                </div>
                <validation-messages [control]="flightDetails.controls.nil_cargo_flight"></validation-messages>
            </div>
        </div>
    </form>
</div>