<div class="">
    <div class="row justify-content-center pt-3 pb-3 pl-2 pr-2">
        <div class="col-md-3 col-sm-12">
            <app-common-dashboard-profile></app-common-dashboard-profile>
        </div>
        <div class="col-md-9 col-sm-12 pl-3">
            <div class="row">
                <div class="col-md-12">
                    <app-common-dashboard-banner></app-common-dashboard-banner>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6 pt-4">
                            <app-common-dashboard-registration></app-common-dashboard-registration>
                        </div>
                        <div class="col-md-6 pt-4">
                            <app-common-dashboard-ticket-management></app-common-dashboard-ticket-management>
                        </div>
                        <div class="col-md-6 pt-4">
                            <app-common-dashboard-checklist></app-common-dashboard-checklist>
                        </div>
                        <div class="col-md-6 pt-4">
                            <app-common-dashboard-drafts></app-common-dashboard-drafts>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pt-4">
                    <app-common-dashboard-service></app-common-dashboard-service>
                </div>
            </div>
        </div>
    </div>
</div>