<div class="card">
    <div class="card-body service-font">
        <h5 class="card-title">Ticket Management
            <img src="assets/images/Ticket Status.png" alt="services" style="float: right;">
        </h5>
        <div class="ticket-bacground pt-1">
            <br>
            <p class="pt-2" style="text-align: center; color: rgb(194, 190, 190);">No
                tickets raised so far</p>
            <br>
        </div>
        <div class="text-center pt-3 pb-1">
            <button type="button" class="btn btn-profile btn-text">
                Raise New Ticket</button>
        </div>
    </div>
</div>