<div class="row">
    <div class="col-md-5">
        <img src="assets/images/recover-pass.png" class="img-fluid img-responsive" alt="Login image">
    </div>
    <div class="col-md-7">
        <div class="row justify-content-center mt-5">
            <h4 class="text-center text-padding">Set New Password</h4>
        </div>
        <div class="row justify-content-center pt-3">
            <form [formGroup]="changePassForm">

                <div class="justify-content-center pass-div pb-1">
                    <h6 class="pl-2 pr-2 pt-1">Your password should contain</h6>
                    <p class="d-block pl-2 pr-2">
                        <img *ngIf="!passNumCheck" src="assets/images/check.png" alt="check" />
                        <img *ngIf="passNumCheck" src="assets/images/check-1.png" alt="check" />
                        &nbsp;Minimum one number
                    </p>
                    <p class="d-block pl-2 pr-2">
                        <img *ngIf="!passSpecialCharCheck" src="assets/images/check.png" alt="check" />
                        <img *ngIf="passSpecialCharCheck" src="assets/images/check-1.png" alt="check" />
                        &nbsp;Special character
                    </p>
                    <p class="d-block pl-2 pr-2">
                        <img *ngIf="!passDiffCaseCheck" src="assets/images/check.png" alt="check" />
                        <img *ngIf="passDiffCaseCheck" src="assets/images/check-1.png" alt="check" />
                        &nbsp;Different cases
                    </p>
                </div>

                <div class="form-group pt-2">
                    <label for="password">Password</label>
                    <span style="padding-left: 260px;"><input type="checkbox" (click)="viewPass()" id="showPass" />
                        <label for="showPass">&nbsp;Show</label></span>
                    <input [type]="passType" class="form-control" formControlName="password" id="password"
                        (input)="checkIcegatePass($event.target.value)">
                    <ul *ngIf="showStrengthBar" class="strengthBar">
                        <li
                            [ngClass]="{'point o-color':orangeCheck, 'point g-color': greenCheck, 'point r-color': redCheck, 'point y-color':yellowCheck, 'point':true}">
                        </li>
                        <li
                            [ngClass]="{'point o-color':orangeCheck, 'point g-color': greenCheck,'point y-color':yellowCheck, 'point':true}">
                        </li>
                        <li [ngClass]="{'point g-color': greenCheck,'point y-color':yellowCheck, 'point':true}"></li>
                        <li [ngClass]="{'point g-color': greenCheck,'point':true}"></li>
                        <li [ngClass]="{'point g-color': greenDarkCheck,'point':true}"></li>
                    </ul>
                    <p class="text-muted"
                        [ngStyle]="{'padding-left':passwordStrength === 'Too Short' ? '325px' : '350px' }">
                        {{passwordStrength}}</p>
                </div>

                <div class="row sticky-footer pt-1">
                    <div class="col-md-5 pt-2 pb-2">
                        <button class="btn btn-back btn-block" (click)="hidePassForm();">
                            Back
                        </button>
                    </div>
                    <div class="col-md-5 offset-md-2 pt-2 pb-5">
                        <button class="btn btn-proceed btn-block" (click)="changePass()"
                            [disabled]="changePassForm.get('password').errors || !passNumCheck || !passSpecialCharCheck || !passDiffCaseCheck">
                            Confirm
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>