<div class="row">
    <form class="col-md-12" [formGroup]="cargoManifest">

        <h2 class="text-center">Cargo Manifest</h2>
        <hr>
        <div class="col-md-12"></div>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class="form-group col-md-4 offset-md-1">
                <label>Line No.</label>
                <input type="text" class="form-control" formControlName="line_no">
                <validation-messages [control]="cargoManifest.controls.line_no"></validation-messages>
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2">
                <label>Sub line No.</label><span class="required"> *</span>
                <input type="text" class="form-control" formControlName="sub_line_no">
                <validation-messages [control]="cargoManifest.controls.sub_line_no"></validation-messages>
            </div>
        </div>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class="form-group col-md-4 offset-md-1">
                <label>B/L No.</label><span class="required"> *</span>
                <input type="text" class="form-control" formControlName="bl_no">
                <validation-messages [control]="cargoManifest.controls.bl_no"></validation-messages>
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2">
                <label>B/L Date</label><span class="required"> *</span>
                <div>
                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <!-- #docregion toggle -->
                    <input matInput [matDatepicker]="bl_date" formControlName="bl_date">
                    <mat-datepicker-toggle matSuffix [for]="bl_date"></mat-datepicker-toggle>
                    <mat-datepicker #bl_date></mat-datepicker>
                    <!-- #enddocregion toggle -->
                </mat-form-field>
                </div>
                <validation-messages [control]="cargoManifest.controls.bl_date"></validation-messages>
            </div>
        </div>

        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class="form-group col-md-4 offset-md-1">
                <label>Port of Loading</label><span class="required"> *</span>
                <input type="text" class="form-control" formControlName="port_of_loading">
                <validation-messages [control]="cargoManifest.controls.port_of_loading"></validation-messages>
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2">
                <label>Port of Destination</label><span class="required"> *</span>
                <input type="text" class="form-control" formControlName="port_of_destination">
                <validation-messages [control]="cargoManifest.controls.port_of_destination"></validation-messages>
            </div>
        </div>

        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class="form-group col-md-4 offset-md-1">
                <label>Importer‟s Name</label><span class="required"> *</span>
                <input type="text" class="form-control" formControlName="importer_name">
                <validation-messages [control]="cargoManifest.controls.importer_name"></validation-messages>
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2">
                <label>Address 1</label><span class="required"> *</span>
                <input type="text" class="form-control" formControlName="address1">
                <validation-messages [control]="cargoManifest.controls.address1"></validation-messages>
            </div>
        </div>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class="form-group col-md-4 offset-md-1">
                <label>Address 2</label><span class="required"> *</span>
                <input type="text" class="form-control" formControlName="address2">
                <validation-messages [control]="cargoManifest.controls.address2"></validation-messages>
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2">
                <label>Address 3</label>
                <input type="text" class="form-control" formControlName="address3">
                <validation-messages [control]="cargoManifest.controls.address3"></validation-messages>
            </div>
        </div>

        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class="form-group col-md-4 offset-md-1">
                <label>Name of any other Notified Party</label>
                <input type="text" class="form-control" formControlName="name_of_other_notified_party">
                <validation-messages [control]="cargoManifest.controls.name_of_other_notified_party">
                </validation-messages>
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2">
                <label>Address 1</label>
                <input type="text" class="form-control" formControlName="address_1">
                <validation-messages [control]="cargoManifest.controls.address_1"></validation-messages>
            </div>
        </div>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class="form-group col-md-4 offset-md-1">
                <label>Address 2</label>
                <input type="text" class="form-control" formControlName="address_2">
                <validation-messages [control]="cargoManifest.controls.address_2"></validation-messages>
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2">
                <label>Address 3</label>
                <input type="text" class="form-control" formControlName="address_3">
                <validation-messages [control]="cargoManifest.controls.address_3"></validation-messages>
            </div>
        </div>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class="form-group col-md-4 offset-md-1">
                <label>Nature of Cargo</label><span class="required"> *</span>
                <select class="form-control" formControlName="nature_of_cargo">
                    <option value="C">Containerized</option>
                    <option value="P">Non-containerised Packaged</option>
                    <option value="LB">Liquid Bulk</option>
                    <option value="DB">Dry Bulk</option>
                    <option value="CP">Containerized Packaged</option>
                </select>
                <validation-messages [control]="cargoManifest.controls.nature_of_cargo"></validation-messages>
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2">
                <label>Item Type</label>
                <input type="text" class="form-control" formControlName="item_type">
                <validation-messages [control]="cargoManifest.controls.item_type"></validation-messages>
            </div>
        </div>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class="form-group col-md-4 offset-md-1">
                <label>Cargo Movement</label><span class="required"> *</span>
                <input type="text" class="form-control" formControlName="cargo_movement">
                <validation-messages [control]="cargoManifest.controls.cargo_movement"></validation-messages>
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2">
                <label>Port of Discharge</label>
                <input type="text" class="form-control" formControlName="port_of_discharge">
                <validation-messages [control]="cargoManifest.controls.port_of_discharge"></validation-messages>
            </div>
        </div>

        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class="form-group col-md-4 offset-md-1">
                <label>Number of Packages</label><span class="required"> *</span>
                <input type="text" class="form-control" formControlName="number_of_packages">
                <validation-messages [control]="cargoManifest.controls.number_of_packages"></validation-messages>
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2">
                <label>Type of packages</label><span class="required"> *</span>
                <input type="text" class="form-control" formControlName="type_of_packages">
                <validation-messages [control]="cargoManifest.controls.type_of_packages"></validation-messages>
            </div>
        </div>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class="form-group col-md-4 offset-md-1">
                <label>Gross weight</label><span class="required"> *</span>
                <input class="form-control" formControlName="gross_weight">
                <!-- <div *ngIf="cargoManifest.controls.gross_weight.errors?.maxlength">The maximum field length is 15, please update the field</div>
                <div *ngIf="cargoManifest.controls.gross_weight.errors?.required && cargoManifest.controls.gross_weight.touched" class="text-danger">This field is required</div> -->
                <validation-messages [control]="cargoManifest.controls.gross_weight"></validation-messages>
                <div *ngIf="cargoManifest.controls.gross_weight.errors?.alphabetNotAllowed_d && cargoManifest.controls.gross_weight.dirty"
                    class="text-danger">Only numbers are allowed, please update field</div>
                <div *ngIf="cargoManifest.controls.gross_weight.errors?.decimalRestricted_d && cargoManifest.controls.gross_weight.dirty"
                    class="text-danger">Only upto 3 decimal values are allowed</div>
                <div *ngIf="cargoManifest.controls.gross_weight.errors?.digitsBeforeDecimal_d && cargoManifest.controls.gross_weight.dirty"
                    class="text-danger">Only 12 digits are allowed, use decimal values to enter further digits</div>
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2">
                <label>Unit of Weight</label><span class="required"> *</span>
                <input type="text" class="form-control" formControlName="unit_of_weight">
                <validation-messages [control]="cargoManifest.controls.unit_of_weight"></validation-messages>
            </div>
        </div>

        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class="form-group col-md-4 offset-md-1">
                <label>Gross Volume</label>
                <input class="form-control" formControlName="gross_vol">
                <validation-messages [control]="cargoManifest.controls.gross_vol"></validation-messages>
                <div *ngIf="cargoManifest.controls.gross_vol.errors?.alphabetNotAllowed_d && cargoManifest.controls.gross_vol.dirty"
                    class="text-danger">Only numbers are allowed in this field, please update the field</div>
                <div *ngIf="cargoManifest.controls.gross_vol.errors?.decimalRestricted_d && cargoManifest.controls.gross_vol.dirty"
                    class="text-danger">Only upto 3 decimal values are allowed</div>
                <div *ngIf="cargoManifest.controls.gross_vol.errors?.digitsBeforeDecimal_d && cargoManifest.controls.gross_vol.dirty"
                    class="text-danger">Only 12 digits are allowed, use decimal values to enter further digits </div>
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2">
                <label>Unit of Volume</label>
                <input type="text" class="form-control" formControlName="unit_of_vol">
                <validation-messages [control]="cargoManifest.controls.unit_of_vol"></validation-messages>
            </div>
        </div>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class="form-group col-md-4 offset-md-1">
                <label>Marks of Numbers</label><span class="required"> *</span>
                <input type="text" class="form-control" formControlName="marks_of_numbers">
                <validation-messages [control]="cargoManifest.controls.marks_of_numbers"></validation-messages>
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2">
                <label>Goods Description</label><span class="required"> *</span>
                <input type="text" class="form-control" formControlName="goods_description">
                <validation-messages [control]="cargoManifest.controls.goods_description"></validation-messages>
            </div>
        </div>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class="form-group col-md-4 offset-md-1">
                <label>UNO Code</label><span class="required"> *</span>
                <input type="text" class="form-control" formControlName="uno_code">
                <validation-messages [control]="cargoManifest.controls.uno_code"></validation-messages>
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2">
                <label>IMO Code</label><span class="required"> *</span>
                <input type="text" class="form-control" formControlName="imo_code">
                <validation-messages [control]="cargoManifest.controls.imo_code"></validation-messages>
            </div>
        </div>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class="form-group col-md-4 offset-md-1">
                <label>Transit Bond No.</label>
                <input type="text" class="form-control" formControlName="transit_bond_no">
                <validation-messages [control]="cargoManifest.controls.transit_bond_no"></validation-messages>
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2">
                <label>Carrier Code</label>
                <input type="text" class="form-control" formControlName="carrier_code">
                <validation-messages [control]="cargoManifest.controls.carrier_code"></validation-messages>
            </div>
        </div>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class="form-group col-md-4 offset-md-1">
                <label>Mode of transport</label>
                <input type="text" class="form-control" formControlName="mode_of_transport">
                <validation-messages [control]="cargoManifest.controls.mode_of_transport"></validation-messages>
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2" >
                <label>MLO Code</label>
                <input type="text" class="form-control" formControlName="mlo_code">
                <validation-messages [control]="cargoManifest.controls.mlo_code"></validation-messages>
            </div>
        </div>
        <hr>
        <div>
        <button mat-raised-button class="example-add-tab-button" (click)="addTab()" id="add-option">
            Add new Container
            <mat-icon>add</mat-icon>
        </button>
        </div>
        <div><span class="required"> *</span> indicates the mandatory fields</div>
        <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
            <mat-tab *ngFor="let tab of tabs; let index = index">
                <ng-template mat-tab-label>
                    <span>Container {{index + 1}}</span>
                    <mat-icon *ngIf="tabs.length != 1" (click)="removeTab(index)">cancel</mat-icon>
                </ng-template>
                <app-container-dialog-content></app-container-dialog-content>
            </mat-tab>
        </mat-tab-group>
    </form>
</div>