<br>
<div><span class="required"> *</span> indicates the mandatory fields</div>
<br>
<form class="col-md-12" [formGroup]="shippingBillstepFive">
<mat-accordion>
    <mat-expansion-panel [expanded]="1" class="matnotexpand">
        <mat-expansion-panel-header>
            <mat-panel-title>
                DEPB
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
            
                <div class="col-md-12"><br></div>
                <div class="form-row">
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-4">
                        <label>Invoice Sr. Number</label>
                        <input type="text" class="form-control" formControlName="invoice_sr_number">
                        <mat-error *ngIf='shippingBillstepFive.controls.invoice_sr_number.errors?.maxlength' >
                            The maximum field length is 2, please update the field <br>
                        </mat-error>
                        <mat-error *ngIf='shippingBillstepFive.controls.invoice_sr_number.errors?.pattern' >
                            Only numbers are allowed in this field, please update
                        </mat-error>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="form-group col-md-4">
                        <label>Item Sr. number in invoice</label>
                        <input type="text" class="form-control" formControlName="item_sr_number_in_invoice">
                        <mat-error *ngIf='shippingBillstepFive.controls.item_sr_number_in_invoice.errors?.maxlength' >
                            The maximum field length is 4, please update the field <br>
                        </mat-error>
                        <mat-error *ngIf='shippingBillstepFive.controls.item_sr_number_in_invoice.errors?.pattern' >
                            Only numbers are allowed in this field, please update
                        </mat-error>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-4">
                        <label>Group Code</label><span class="required"> *</span>
                        <input type="text" class="form-control" formControlName="group_code">
                        <mat-error *ngIf='shippingBillstepFive.controls.group_code.errors?.required && shippingBillstepFive.controls.group_code.touched'
                            >This field is required <br></mat-error>
                        <mat-error *ngIf='shippingBillstepFive.controls.group_code.errors?.maxlength' >
                            The maximum field length is 2, please update the field
                        </mat-error>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="form-group col-md-4">
                        <label>Item Code</label><span class="required"> *</span>
                        <input type="text" class="form-control" formControlName="item_code">
                        <mat-error *ngIf='shippingBillstepFive.controls.item_code.errors?.required && shippingBillstepFive.controls.item_code.touched'
                            >This field is required <br></mat-error>
                        <mat-error *ngIf='shippingBillstepFive.controls.item_code.errors?.maxlength' >
                            The maximum field length is 10, please update the field
                        </mat-error>
                    </div>
                </div>
    
                <div class="form-row">
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-4">
                        <label>Quantity</label>
                        <input type="text" class="form-control" formControlName="quantity">
                        <mat-error *ngIf='shippingBillstepFive.controls.quantity.errors?.maxlength' >
                            The maximum field length is 11, please update the field <br>
                        </mat-error>
                        <mat-error *ngIf='shippingBillstepFive.controls.quantity.errors?.pattern' >
                            Only numbers are allowed in this field, please update
                        </mat-error>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="form-group col-md-4">
                        <label>Amendment Type</label>
                        <input type="text" class="form-control" formControlName="amendment_type">
                        <mat-error *ngIf='shippingBillstepFive.controls.amendment_type.errors?.maxlength' >
                            The maximum field length is 1, please update the field
                        </mat-error>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-4">
                        <label>Amendment No.</label>
                        <input type="text" class="form-control" formControlName="amendment_no">
                        <mat-error *ngIf='shippingBillstepFive.controls.amendment_no.errors?.maxlength' >
                            The maximum field length is 7, please update the field <br>
                        </mat-error>
                        <mat-error *ngIf='shippingBillstepFive.controls.amendment_no.errors?.pattern' >
                            Only numbers are allowed in this field, please update
                        </mat-error>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="form-group col-md-4">
                        <label>Amendment Date</label>
                        <br>
                        <mat-form-field>
                            <mat-label>Choose a date</mat-label>
                            <!-- #docregion toggle -->
                            <input matInput [matDatepicker]="amendment_date" formControlName="amendment_date">
                            <mat-datepicker-toggle matSuffix [for]="amendment_date"></mat-datepicker-toggle>
                            <mat-datepicker #amendment_date></mat-datepicker>
                            <!-- #enddocregion toggle -->
                        </mat-form-field>
                    </div>
                </div>
           
        </div>
    </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
    <mat-expansion-panel class="matnotexpand">
        <mat-expansion-panel-header>
            <mat-panel-title>
                DEPB PARENT
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
                <div class="col-md-12"><br></div>
                <div class="form-row">
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-4">
                        <label>SRNO</label>
                        <input type="text" class="form-control" formControlName="sr_no">
                        <mat-error *ngIf='shippingBillstepFive.controls.sr_no.errors?.maxlength' >
                            The maximum field length is 2, please update the field <br>
                        </mat-error>
                        <mat-error *ngIf='shippingBillstepFive.controls.sr_no.errors?.pattern' >
                            Only numbers are allowed in this field, please update
                        </mat-error>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="form-group col-md-4">
                        <label>Unit Quantity Code</label>
                        <input type="text" class="form-control" formControlName="unit_quantity_code">
                        <mat-error
                            *ngIf='shippingBillstepFive.controls.unit_quantity_code.errors?.required && shippingBillstepFive.controls.quantity_percentage.touched'
                            >This field is required <br></mat-error>
                        <mat-error *ngIf='shippingBillstepFive.controls.unit_quantity_code.errors?.maxlength'
                            >
                            The maximum field length is 3, please update the field <br>
                        </mat-error>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-4">
                        <label>Quantity Percentage</label><span class="required"> *</span>
                        <input type="text" class="form-control" formControlName="quantity_percentage">
                        <mat-error
                            *ngIf='shippingBillstepFive.controls.quantity_percentage.errors?.required && shippingBillstepFive.controls.quantity_percentage.touched'
                            >This field is required <br></mat-error>
                        <mat-error *ngIf='shippingBillstepFive.controls.quantity_percentage.errors?.maxlength'
                            >
                            The maximum field length is 5, please update the field
                        </mat-error>
                        <mat-error *ngIf='shippingBillstepFive.controls.quantity_percentage.errors?.pattern'
                            >
                            Only numbers are allowed in this field, please update
                        </mat-error>
                    </div>
                </div>
       
        </div>
    </mat-expansion-panel>
</mat-accordion>
<div class="btncontainer">
    <button mat-raised-button matStepperPrevious id="back_draft">Back</button>
    <div class="col-md-4 offset-md-4"></div>
    <button mat-raised-button id="back_draft">Save as Draft</button>
    <button mat-flat-button matStepperNext id="savecon">Save & Continue</button>
</div>
</form>