<h2 mat-dialog-title>Container Details</h2>
<mat-dialog-content>
    <div> Fill all the mandatory fields indicated by<span class="required"> *</span> </div>
    <br>
    <button mat-raised-button (click)="addTab1()" id="add-option">
        Add new Container
        <mat-icon>add</mat-icon>
    </button>
    <mat-tab-group>
        <mat-tab *ngFor="let tab of tabs4; let i = index">
            <ng-template mat-tab-label>
                <span>Container Details {{i + 1}}</span>
                <mat-icon *ngIf="tabs4.length != 1" (click)="removeTab1(i)">cancel</mat-icon>
            </ng-template>
            <br>
            <app-container-dialog-content></app-container-dialog-content>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Save</button>
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>