<!-- <div><span class="required"> *</span> indicates the mandatory fields</div>
<br>
<button mat-raised-button (click)="openDialog()" id="add-option">
    Add Container<mat-icon>add</mat-icon>
</button>
<br> -->
<div class="row">
    <form class="col-md-12" [formGroup]="egmMasterDetails">

        <h2 class="text-center">EGM Master Details</h2>
        <!-- <mat-radio-group aria-label="Select an option" (change)="choose($event)">
            <mat-radio-button value="C" checked="checked" >Containerised</mat-radio-button>&nbsp;
            <mat-radio-button value="NC">Non-Containerised</mat-radio-button>
        </mat-radio-group> -->
        <hr>
        <div class="col-md-12"><br></div>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class="form-group col-md-4 offset-md-1">
                <label>Message Type</label>
                <select class="form-control" formControlName="message_type">
                    <option value="F">F</option>
                    <option value="A">A</option>
                </select>
                <validation-messages [control]="egmMasterDetails.controls.message_type"></validation-messages>
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2">
                <label>Customs House Code</label>
                <input type="text" class="form-control" formControlName="custom_house_code">
                <validation-messages [control]="egmMasterDetails.controls.custom_house_code"></validation-messages>
            </div>
        </div>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class="form-group col-md-4 offset-md-1">
                <label>EGM No</label>
                <input type="text" class="form-control" formControlName="egm_no">
                <validation-messages [control]="egmMasterDetails.controls.egm_no"></validation-messages>
            </div>
            <div class="col-md-2"></div>
            <div class="form-group col-md-4">
                <label>EGM Date</label>
                <div>
                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <!-- #docregion toggle -->
                    <input matInput [matDatepicker]="egm_date" formControlName="egm_date">
                    <mat-datepicker-toggle matSuffix [for]="egm_date"></mat-datepicker-toggle>
                    <mat-datepicker #egm_date></mat-datepicker>
                    <!-- #enddocregion toggle -->
                </mat-form-field>
                </div>
                <validation-messages [control]="egmMasterDetails.controls.egm_date"></validation-messages>
            </div>
        </div>

    </form>
</div>