<div>
    <div><span class="text-danger">&#42;</span> indicates the mandatory fields </div>
    <form class="col-md-12" [formGroup]="inBondFormStep7">
        <h6 class="font-h6 text-center">DEPB</h6>
        <hr>
        <div class="form-row">
            <div class="form-group col-md-4 offset-md-1">
                <label>Invoice Serial Number</label><span class="required">*</span>
                <input type="text" class="form-control"
                    formControlName="invoice_serial_number">
                    <validation-messages [control]="inBondFormStep7.controls.invoice_serial_number"></validation-messages>                                         
            </div>
            <div class="form-group col-md-4 offset-md-2">
                <label> Item Sr. Number in Invoice</label><span
                    class="required">*</span>
                <input type="text" class="form-control"
                    formControlName="item_serial_number_invoice">
                    <validation-messages [control]="inBondFormStep7.controls.item_serial_number_invoice"></validation-messages>                                                                               
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 offset-md-1">
                <span>Wether Exemption Required? </span> <br><br>
                <label class="col-md-3">
                    <input type="radio" value="Yes" formControlName="exemption_required">Yes
                </label>

                <label class="col-md-3">
                    <input type="radio" value="No" formControlName="exemption_required">No
                </label>
            </div>
            <div class="form-group col-md-4 offset-md-2">
                <label>BCD Notification</label><span class="required"> *</span>
                <input type="text" class="form-control"
                    formControlName="bcd_notification">
                    <validation-messages [control]="inBondFormStep7.controls.bcd_notification"></validation-messages>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 offset-md-1">
                <label>BCD Notification Sr. No.</label><span class="required"> *</span>
                <input type="text" class="form-control"
                    formControlName="bcd_notification_sr_no">
                    <validation-messages [control]="inBondFormStep7.controls.bcd_notification_sr_no"></validation-messages>
            </div>
        </div>
    </form>
</div>
<div class="btncontainer">
    <button id="back_draft" mat-raised-button matStepperPrevious>Back</button>
    <div class="col-md-4 offset-md-4"></div>
    <button id="back_draft" mat-raised-button>Save as Draft</button>
    <button id="savecon" mat-flat-button >Save & Continue</button>
</div>