<div class="card">
    <div class="card-body service-font">
        <h5 class="card-title">Checklist
            <img src="assets/images/list.png" alt="services" style="float: right;"></h5>
        <div class="row">
            <div class="col-md-5" style="font-size: 10px;">
                <p>View checklist for your role.</p>
            </div>
            <div class="col-md-7">
                <select class="form-control">
                    <option>IEC Holder</option>
                    <option>Custom Broker</option>
                    <option>Shipping Lines</option>
                </select>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-9">
                <span class="text-muted" style="font-size: 12px;">Scanned copy of your
                    license</span>
                <span class="d-block " style="color: grey;font-size: 10px;">-100 KB</span>
            </div>
            <div class="col-md-3">
                <img src="assets/images/jpg.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 pt-1">
                <span class="d-block text-muted" style="font-size: 12px;">Photo ID
                    Type</span>
                <span class="d-block " style="color: grey;font-size: 10px;">-100 KB</span>
            </div>
            <div class="col-md-3">
                <img src="assets/images/pdf.png" alt="">
            </div>
        </div>
    </div>
</div>