<div>
    <div><span class="text-danger">&#42;</span> indicates the mandatory fields </div>
    <form class="col-md-12" [formGroup]="inBondFormStep12">
        <h6 class="font-h6 text-center">Declaration Statement</h6>
        <hr>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class=" form-group col-md-4 offset-md-1" [ngClass]="displayFieldCss('decleration_type')">
                <label>Declaration Type</label><span class="required">*</span>
                <input type="text" class="form-control" formControlName="decleration_type">
                <validation-messages [control]="inBondFormStep12.controls.decleration_type" ></validation-messages>
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2" [ngClass]="displayFieldCss('decleration_number')">
                <label>Declaration Number</label>
                <input type="text" class="form-control" formControlName="decleration_number">
                <validation-messages [control]="inBondFormStep12.controls.decleration_number" ></validation-messages>
            </div>
        </div>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class=" form-group col-md-4 offset-md-1" [ngClass]="displayFieldCss('decleration_date')">
                <label>Declaration Date</label><span class="required">*</span> 
                <div>
                <mat-form-field>
                    <mat-label>Choose a date</mat-label> 
                    <!-- #docregion toggle -->
                    <input matInput [matDatepicker]="decleration_date" formControlName="decleration_date">
                    <mat-datepicker-toggle matSuffix [for]="decleration_date"></mat-datepicker-toggle>
                    <mat-datepicker #decleration_date></mat-datepicker>
                    <!-- #enddocregion toggle -->
                </mat-form-field>
                </div>  
                <validation-messages [control]="inBondFormStep12.controls.decleration_date" ></validation-messages>
                
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2" [ngClass]="displayFieldCss('invoice_serial_number')">
                <label>Invoice Serial Number</label><span class="required">*</span>
                <input type="text" class="form-control" formControlName="invoice_serial_number">

                <validation-messages [control]="inBondFormStep12.controls.invoice_serial_number" ></validation-messages>
            </div>
        </div>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class=" form-group col-md-4 offset-md-1"  [ngClass]="displayFieldCss('item_serial_number')">
                <label>Item Sr.Number</label><span class="required"> *</span>
                <input type="text" class="form-control" formControlName="item_serial_number">
                <validation-messages [control]="inBondFormStep12.controls.item_serial_number" ></validation-messages>

            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2" [ngClass]="displayFieldCss('statement_type')" >
                <label>Statement Type</label><span class="required"> *</span>
                <input type="text" class="form-control" formControlName="statement_type">
                <validation-messages [control]="inBondFormStep12.controls.statement_type" ></validation-messages>
            </div>
        </div>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class=" form-group col-md-4 offset-md-1"  [ngClass]="displayFieldCss('statement_code')">
                <label>Statement Code</label>
                <input type="text" class="form-control" formControlName="statement_code">
                <validation-messages [control]="inBondFormStep12.controls.statement_code" ></validation-messages>
               
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2"  [ngClass]="displayFieldCss('statement_text')">
                <label>Statement Text</label>
                <input type="text" class="form-control" formControlName="statement_text" >
                <validation-messages [control]="inBondFormStep12.controls.statement_text" ></validation-messages>
                
            </div>
        </div>
    </form>
</div>
<div class="btncontainer">
    <button id="back_draft" mat-raised-button matStepperPrevious>Back</button>
    <div class="col-md-4 offset-md-4"></div>
    <button id="back_draft" mat-raised-button>Save as Draft</button>
    <button id="savecon" mat-flat-button (click)="onSubmit()">Save & Continue</button>
</div>