<div>
    <nav class="navbar navbar-expand-lg navbar-light headerbox">
    
      <img class="navbar-brand" src="assets/images/calendar.png" /><span
          style="color: white;">{{today | date:'d MMMM yyyy | hh:mm a'}}</span>
    
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed d-lg-none " data-toggle="collapse"
              data-target="#myHeader">
              <span class="navbar-toggler-icon"></span>
          </button>
    
      </div>
      <div class="collapse navbar-collapse " id="myHeader" style="white-space:nowrap;">
    
          <ul class="navbar-nav mr-auto col-md-4 offset-md-5 headerlink" >
              <li class="nav-item">
                  <a class="nav-link" href="#">Call us <span>&nbsp;1800-3010-1000</span></a>
              </li>
              <div class="col-md-3"></div>
              <li class="nav-item">
                  <a class="nav-link" href="#">CONTACT US</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">HELP</a>
              </li>
              <li>
    
              </li>
          </ul>
    
          <span>
              <form class="form-inline headform">
                  <a class="form-control mr-sm-2">A-</a>
                  <a class="form-control mr-sm-2">A+</a>
                  <a class="form-control mr-sm-2">ENG</a>
                  |&nbsp;
                  <a class="form-control mr-sm-2">हिंदी</a>
              </form>
          </span>
      </div>
    
    </nav>
    </div>
    <div>
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"><span class="ice">ICE</span><span class="gate">GATE</span></a>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed d-lg-none" data-toggle="collapse"
                data-target="#myNavbar">
    
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse " id="myNavbar" style="white-space:nowrap;">
    
            <ul class="navbar-nav mr-auto col-md-4 offset-md-3 navbarlink">
    
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <div class="col-md-1"></div>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <div class="col-md-1"></div>
                <li class="nav-item">
                    <a class="nav-link" href="#">Guidelines</a>
                </li>
                <div class="col-md-1"></div>
                <li class="nav-item">
                    <a class="nav-link" href="#">New Initiatives</a>
                </li>
                <div class="col-md-1"></div>
                <li class="nav-item">
                    <a class="nav-link" href="#">Covid-19</a>
                </li>
            </ul>
            <!-- <span>
                <form class="form-inline">
                    <mat-icon>notifications_none</mat-icon>&nbsp;&nbsp;
                    <mat-icon>person_outline</mat-icon>&nbsp;&nbsp;
                    <p>{{pers}}<mat-icon>expand_more</mat-icon>&nbsp;&nbsp;</p>
                </form>
            </span> -->
        </div>
    </nav>
    </div>